*{
    margin:0;
    padding:0;
}
body{
    height:auto;
    width: 100%;
}
header{
    position: relative;
    height: 670px;
    width: auto;
    background-image: url(./home.png);
    background-size: cover;
    background-position: center;
}
ul li{
    list-style: none;
}
header>ul{
    width: 70%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.811);
    top:3%;
    left: 15%;
    letter-spacing:10px;
}
header>ul>li{
    flex:1;
    text-align: center;
}
.headerspan{
    color: rgba(255, 255, 255, 0.811);
    font-size: 18px;
    font-family: KaiTi;
    letter-spacing: 20px;
}
.headerspan>span:first-child{
    display: block;
    position: absolute;
    top:60%;
    left:32%;
}
.headerspan>span:nth-child(2){
    display: block;
    position: absolute;
    top:65%;
    left:32%;
}
.headerspan>span:nth-child(3){
    display: block;
    position: absolute;
    top:25%;
    left:26%;
    font-size: 35px;
}
.down{
    position: absolute;
    bottom: 3%;
    left: 48%;
    animation: updown ease-in 0.6s infinite alternate;
}
.down>img{
    height: 30%;
    width: 30%;
}
@keyframes updown{
    from{
        bottom: 3%;
    }
    to{
        bottom: 2%;
    }
}
section{
    position: relative;
    height: 700px;
    background-color: #2e344e;
}
.back{
    height: 700px;
    width: 1280px;
    background-image: url(./about.png);
    background-position: center;
    background-size: cover;
}
.about{
    font-size: 55px;
    color: rgba(255, 255, 255, 0.811);
    position: absolute;
    left: 16%;
    top:10%;
    letter-spacing: 15px;
}
.my{
    height: 350px;
    width: 270px;
    background-image: url(./my.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top:30%;
    left: 22%;
    z-index: 99;
}
.myborder{
    height: 384px;
    width: 280px;
    position: absolute;
    border: 3px solid rgba(255, 255, 255, 0.811);
    left: 25%;
    top: 27%;
}
.aboutborder{
    height: 100px;
    width: 100px;
    position: absolute;
    border: 4px solid rgba(255, 255, 255, 0.811);
    border-radius: 10px;
    top:25%;
    left: 50%;
}
.backspan{
    position: absolute;
    left: 52%;
    top: 28%;
    height: 70px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.811);
    background-color: #2e344e;
}
.backspan>span:first-child{
    display: block;
    height:30px;
    line-height: 30px;
    text-align: end;
}
.message{
    height: 300px;
    width: auto;
    position: absolute;
    left: 62%;
    top: 39%;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.811);
}
.message>span{
    display: block;
}
.enmessage{
    height: 300px;
    width: auto;
    position: absolute;
    left: 50%;
    top: 60%;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.811);
}
.enmessage>span{
    display: block;
}